.popup__container {
    background-color: #fff;
    border-radius: 10px;
    max-width: 430px;
    position: relative;
    box-sizing: border-box;
    padding: 34px 36px 37px;
    box-shadow: 25px, rgba(0, 0, 0, 0.15);
    offset: 0px 0px;
    z-index: 0;
    margin-top: 43px;
}

@media screen and (max-width: 1279px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 22px 25px 22px;
        margin-top: 28px;
    }
}