.profile__info {
    display: grid;
    align-items: baseline;
    grid-template-columns: 1fr 24px;
    grid-column-gap: 21px;
    grid-row-gap: 5px;
    padding: 0;
    padding-right: 239px;
    margin-top: 5px;

}

@media screen and (max-width: 1279px) {
    .profile__info {
        padding-top: 15px;
        padding-right: 0;
        padding-left: 8px;
        grid-row-gap: 3px;
        grid-column-gap: 11px;
    }
}