.element {
    border-radius: 3%;
    max-width: 282px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.element:first-child{
    margin-bottom: 7px;
}
.element:nth-child(2) {
    margin-bottom: 0px;
}
.element:nth-child(3) {
    margin-bottom: 0px;
}
.element:nth-child(4) {
    margin-bottom: 0px;
}
.element:nth-child(5) {
    margin-bottom: 0px;
}
.element:nth-child(6) {
    margin-bottom: 0px;
}

@media screen and (max-width: 1279px) {
        .element:first-child{
            padding-top: 5px;
        }
        .element:nth-child(2) {
            margin-bottom: 0px;
        }
        .element:nth-child(3) {
            margin-bottom: 0px;
        }
        .element:nth-child(4) {
            margin-bottom: 0px;
        }
        .element:nth-child(5) {
            padding-top: 5px;
        }
        .element:nth-child(6) {
            padding-top: 5px;
    }
}